# Ignore Gradle cache files & directories
bin/
build/
eclipse/
.classpath
.gradle/
.project
.settings/
.idea/
*.iml
*.ipr
*.iws
out/
run/

# Ignore OS cache files & directories
*.DS_Store
_MACOSX
Thumbs.db