# Ignore Gradle cache files & directories
bin/
build/
eclipse/
.classpath
.gradle/
.project
.settings/
.idea/
*.iml
*.ipr
*.iws
out/
test/
run/
gradle
gradlew
gradlew.bat

# Ignore OS cache files & directories
*.DS_Store
_MACOSX
Thumbs.db
gradle.properties
output/
