language: java
notifications:
 irc:
  channels:
   - "irc.esper.net#mod-warriors "
  template:
   - "%{build_number} (%{branch} - %{commit}: %{commit_message} : %{author}): %{message} (%{build_url})"
install: true
script:
  - gradle build -PbambooshortPlanName=Nek -Pdmodcurse=61545
jdk:
  - oraclejdk8
  - oraclejdk7
  - openjdk6
